.paragraph {
  border: 4px solid var(--ifm-color-emphasis-200);
  border-top-left-radius: var(--ifm-global-radius);
  border-top-right-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  margin: 0.5rem 4rem 3rem 4rem;
}

.paragraphTitle {
  padding: 0.5rem;
}

.paragraphTitle h3{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.paragrapBody {
  padding: 0rem 4rem 1rem 4rem;
}
