.origin {
  margin: 0 4rem 0 4rem;
}

.origin .content {
  margin-bottom: 3rem;
  border: 4px solid var(--ifm-color-emphasis-300);
  border-radius: 2rem 0.5rem 2rem 0.5rem;
  box-shadow: var(--ifm-global-shadow-lw);
  padding: 1rem;
}

.origin .content h4{
  text-align: center;
  font-size: 1.2rem;
}

.origin .content .detail{
  text-align: end;
  font-size: 1rem;
  font-style: italic;
}